.subscribe-button {
  background-color: rgb(228, 25, 25);
  color: white;
  border: none;
  height: 35px;
  width: 105px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 8px;
  transform: opacity 0.5s;
  vertical-align: top;
}

.subscribe-button:hover {
  opacity: 0.4;
}

.subscribe-button:active {
  opacity: 0.4;
}

.join-button {
  background-color: white;
  color: rgb(3, 136, 177);
  border-color: rgb(3, 136, 177);
  border-style: solid;
  height: 35px;
  width: 105px;
  border-radius: 3px;
  cursor: pointer;
  transform: background-color 0.5s, color 0.5s;
}

.join-button:hover {
  background-color: rgb(3, 136, 177);
  color: white;
}

.join-button:active {
  opacity: 0.7;
}

.tweet-button{
  background-color: rgb(97, 218, 255);
  border: none;
  color: white;
  height: 35px;
  width: 105px;
  border-radius: 40px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  margin-left: 8px;
  transition: box-shadow 0.15s;
  
}

.tweet-button:hover{
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.15);
}